
<div class="modal-header bg-primary">
    <button type="button" class="close" ng-click="Cancel()"></button>
    <h4 class="modal-title">
        <i class="icon-bar"></i>
        <span id="lblAddTitle" style="font-weight:bold">编译部署</span>
    </h4>
</div>
 <!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box blue">
    
    <div class="portlet-body ">
        <form role="form" class="form form-horizontal" name="form" ng-submit="Save(form.$valid)" novalidate>
            <div class="form-body">
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label">发布环境</label>
                    <div class="col-md-10">
                        <select name="deployenvironment" class="form-control" ng-model="taskInfo.DeployStage" ng-change="GetServerData(taskInfo.DeployStage)" required>
                            <option ng-repeat="environment in environmentList" value="{{environment.Id}}">{{environment.Name}}</option>
                        </select>
                        <div ng-show="form.$submitted || form.deployenvironment.$touched">
                            <span class="error-msg" ng-show="form.deployenvironment.$error.required">项目必选.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label">分支</label>
                    <div class="col-md-10">
                        <select name="branch" class="form-control" ng-model="taskInfo.Branch" required>
                            <option ng-repeat="branch in branchList" value="{{branch.name}}" ng-selected="branch.name == taskInfo.Branch">{{branch.name}}</option>
                        </select>
                        <div ng-show="form.$submitted || form.branch.$touched">
                            <span class="error-msg" ng-show="form.branch.$error.required">分支必选.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label">部署服务器</label>
                    <div class="col-md-10">
                        <select name="deployenvironment" class="form-control" ng-model="taskInfo.Server" required>
                            <option ng-repeat="server in ServerList" value="{{server}}" ng-selected="server.IP == taskInfo.DeployIP">{{server.Name}}</option>
                        </select>
                        <div ng-show="form.$submitted || form.deployenvironment.$touched">
                            <span class="error-msg" ng-show="form.deployenvironment.$error.required">部署服务器必选</span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label">域名</label>
                    <div class="col-md-10">
                        <select name="domain" class="form-control" ng-model="taskInfo.DomainInfo" required>
                            <option ng-repeat="domain in DomainList" value="{{domain}}" ng-selected="domain.Name==taskInfo.Domain">{{domain.Name}}</option>
                        </select>
                        <div ng-show="form.$submitted || form.domain.$touched">
                            <span class="error-msg" ng-show="form.domain.$error.required">域名必选.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label">验收人员</label>
                    <div class="col-md-10">
                        <div class="form-control-wrap">
                            <tags-input ng-model="taskInfo.CheckUsers" placeholder="添加验收人员" display-property="name" add-from-autocomplete-only="true" minLength="1">
                                <auto-complete source="loadTags($query)" load-on-focus="true" load-on-empty="true" minLength="0" max-results-to-show="32" template="my-custom-template"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label">相关人员</label>
                    <div class="col-md-10">
                        <div class="form-control-wrap">
                            <tags-input ng-model="taskInfo.NoticeUsers" placeholder="添加相关人员" display-property="name" add-from-autocomplete-only="true" minLength="1">
                                <auto-complete source="loadTags($query)" load-on-focus="true" load-on-empty="true" minLength="0" max-results-to-show="32" template="my-custom-template"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label">备注</label>
                    <div class="col-md-10">
                        <div class="form-control-wrap">
                            <textarea rows="4" ng-model="taskInfo.DeployInfo.TaskDesc"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-actions right">
                <button type="button" class="btn default" ng-click="Cancel()">取消</button>
                <button type="submit" class="btn blue" ng-click=""><i class="fa fa-arrow-circle-o-up"></i> 部署</button>
            </div>

        </form>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
<script type="text/ng-template" id="my-custom-template">
    <div class="left-panel">
        <img ng-src="{{data.avatar_url}}" />
    </div>
    <div class="right-panel">
        <span ng-bind-html="$highlight($getDisplayText())"></span>
        (<span ng-bind-html="$highlight(data.username)"></span>)
        <span>{{data.email}}</span>
    </div>
</script>
