variables:
  # slnFile: Uoko.FireProj.sln # 多个时可以指定


before_script:
  - 'chcp 65001'

# 每次 package 包都放入缓存中，这样方便快速还原，这个维度是以 branch 为基础的  
cache:
  key: "$CI_BUILD_REF_NAME"
  paths:
    - packages/
   
stages:
  - build

execFakeScript:
  stage: build
  script:
     - Fake.exe build.fsx