
@{
    ViewBag.Title = "Form";
}

<div class="col-md-12">
    <div ng-controller="ProjectController">
        <!-- BEGIN  HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/">主页</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">项目管理</a>

                </li>

            </ul>

        </div>
        <!-- END  HEADER-->

        <!--BEGIN Form -->
        <div >
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-green-haze">
                        <i class="icon-settings font-green-haze"></i>
                        <span class="caption-subject bold uppercase">{{formTile}}</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="全屏"></a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div id="bootstrap_alerts_demo"></div>
                    <form role="form" class="form-horizontal" name="serverForm" novalidate>
                        <div class="form-body">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">项目名称</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="form_control_1" ng-model="model.ProjectName" placeholder="请输入项目名称" required>
                                    <div class="form-control-focus">
                                    </div>
                                    <span class="help-block">项目名称是必填</span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">项目文件</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="form_control_1" ng-model="model.ProjectFileName" placeholder="请输入项目文件" required>
                                    <div class="form-control-focus">
                                    </div>
                                    <span class="help-block">项目文件是必填</span>
                                </div>

                            </div>

                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">项目地址</label>
                                <div class="col-md-10">
                                    <select class="form-control" id="form_control_1" ng-model="model.ProjectRepo">
                                        <option ng-repeat="project in ProjectList" value="{{project.http_url_to_repo}}" ng-selected="project.http_url_to_repo == model.http_url_to_repo">{{project.name}}</option>
                                    </select>
                                    <div class="form-control-focus">
                                    </div>
                                    <span class="help-block">项目地址是必填</span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">项目描述</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" rows="3" ng-model="model.ProjectDesc"></textarea>
                                    <div class="form-control-focus">
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="button" class="btn blue btn-lg" ng-disabled="serverForm.$invalid" ng-click="SubmitFrom(model)">提交</button>
                                    <a type="button" class="btn default btn-lg" href="@Url.Action("Index","Project")">取消</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!--END Form -->
    </div>
</div>
@section Scripts {
    <script src="~/app/service/project.js"></script>
}

