
@{
    ViewBag.Title = "项目管理";
   
}


<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Home")">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Project")">项目</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">项目列表</a>
        </li>
    </ul>
</div>
<div ng-controller="ProjectController">
    <!-- Grid -->
    <div ng-hide="isShowForm">
        <div class="portlet box blue" ng-hide="isShowForm">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-windows"></i>项目列表
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="sample_editable_1_new" class="btn green" ng-click="OpenForm()">
                                    新增 <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="blue">
                            <th>项目名称</th>
                            <th>项目文件</th>
                            <th>项目地址</th>
                            <th>项目描述</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in items">
                            <td><a href="">{{item.ProjectName}}</a></td>
                            <td>{{item.ProjectFileName}}</td>
                            <td>{{item.ProjectRepo}}</td>
                            <td>{{item.ProjectDesc}}</td>
                            <td>
                                <div>
                                    <a class="btn btn-primary editor" ng-click="edit(item)">编辑</a>
                                    <a class="btn btn-primary delete" ng-click="delete(item)">删除</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="Query()" first-text="首页" last-text="末页"
                                        previous-text="上一页" next-text="下一页" items-per-page="pageSize" max-size="5" boundary-links="true" boundary-link-numbers="true" rotate="false"></uib-pagination>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <!-- Grid -->
    <!-- Form -->
    <div ng-show="isShowForm">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-green-haze">
                    <i class="icon-settings font-green-haze"></i>
                    <span class="caption-subject bold uppercase">{{formTile}}</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="全屏"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div id="bootstrap_alerts_demo"></div>
                <form role="form" class="form-horizontal" name="serverForm" novalidate>
                    <div class="form-body">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="form_control_1">项目名称</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="form_control_1" ng-model="model.ProjectName" placeholder="请输入项目名称" required>
                                <div class="form-control-focus">
                                </div>
                                <span class="help-block">项目名称是必填</span>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="form_control_1">项目文件</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="form_control_1" ng-model="model.ProjectFileName" placeholder="请输入项目文件" required>
                                <div class="form-control-focus">
                                </div>
                                <span class="help-block">项目文件是必填</span>
                            </div>

                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="form_control_1">项目地址</label>
                            <div class="col-md-10">
                                <select class="form-control" id="form_control_1" ng-model="model.Project">
                                    <option ng-repeat="project in ProjectList" value="{{project}}"  ng-selected="project.id == model.ProjectId">{{project.name}}</option>
                                </select>
                                <div class="form-control-focus">
                                </div>
                                <span class="help-block">项目地址是必填</span>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="form_control_1">项目描述</label>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="3" ng-model="model.ProjectDesc"></textarea>
                                <div class="form-control-focus">
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" class="btn blue btn-lg" ng-disabled="serverForm.$invalid" ng-click="SubmitFrom(model)">提交</button>
                                <button type="button" class="btn default btn-lg" ng-click="CancelForm()">取消</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- Form -->
</div>


@section Scripts {
    <script src="~/app/controllers/project.js"></script>
}
