
@{
    ViewBag.Title = "任务详细";
}
@section Css {
    <link href="~/Content/TaskDetail.css" rel="stylesheet" />
    <link href="~/Metronic/assets/admin/pages/css/timeline-old.css" rel="stylesheet" />
}
<input type="hidden" id="taskIdParam" value="@ViewBag.TaskId"/>
<input type="hidden" id="userId" value="@ViewBag.UserId" />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Task")">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Task")">我的任务</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">任务详细</a>
        </li>
    </ul>
</div>
<div class="row" ng-controller="TaskController">
    <div class="col-md-12">
        <!-- 基本信息-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-file-text-o"></i>基本信息
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label">任务名</label>
                            <div class="col-md-10">
                                <input disabled type="text" ng-model="model.TaskName" class="form-control">

                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label">项目</label>
                            <div class="col-md-10">
                                <input disabled type="text" ng-model="model.ProjectDto.ProjectName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label">分支</label>
                            <div class="col-md-10">
                                <input disabled type="text" ng-model="model.Branch" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 基本信息-->
        <!-- 环境tab-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-leaf"></i>环境信息
                </div>
            </div>
            <div class="portlet-body form">
                <ul class="nav nav-tabs">
                    <li ng-class="{'active':currLogTab==0}" ng-if="model.DeployInfoIocJson!=null" ng-click="TabChanged(0)">
                        <a href="#tab_1_1" data-toggle="tab">
                            IOC
                        </a>
                    </li>
                    <li ng-class="{'active':currLogTab==1}" ng-if="model.DeployInfoPreJson!=null" ng-click="TabChanged(1)">
                        <a href="#tab_1_2" data-toggle="tab">
                            Pre
                        </a>
                    </li>
                    <li ng-class="{'active':currLogTab==2}" ng-if="model.DeployInfoOnlineJson!=null&&model.DeployInfoOnlineDto.OnlineTaskId!=null&&model.DeployInfoOnlineDto.OnlineTaskId>0" ng-click="TabChanged(2)">
                        <a href="#tab_1_3" data-toggle="tab">
                            Online
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade " ng-class="{'active in':currLogTab==0}" id="tab_1_1" ng-if="model.DeployInfoIocJson!=null">
                        <!-- BEGIN IOC CONTENT-->
                        <div class="form">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">部署服务器IP</label>
                                <div class="col-md-10">
                                    <input disabled type="text" ng-model="model.DeployInfoIocDto.DeployIP" class="form-control">
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">部署地址</label>
                                <div class="col-md-10">
                                    <input disabled type="text" ng-model="model.DeployInfoIocDto.DeployAddress" class="form-control">
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">部署域名</label>
                                <div class="col-md-10">
                                    <input disabled type="text" ng-model="model.DeployInfoIocDto.Domain" class="form-control">
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">IIS站点名称</label>
                                <div class="col-md-10">
                                    <input disabled type="text" ng-model="model.DeployInfoIocDto.SiteName" class="form-control">
                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">验收人员</label>
                                <div class="col-md-10">
                                    <div class="portlet-body">
                                        <a href="javascript:;" class="icon-btn blue" ng-repeat="checkUser in model.DeployInfoIocDto.CheckUser">
                                            <div> {{checkUser.NickName}}</div>
                                            <span ng-if="checkUser.QAStatus==0" class="badge badge-default">{{checkUser.QAStatus|QAStatusFilter}}</span>
                                            <span ng-if="checkUser.QAStatus==1" class="badge badge-danger"> {{checkUser.QAStatus|QAStatusFilter}}</span>
                                            <span ng-if="checkUser.QAStatus==2" class="badge badge-success">{{checkUser.QAStatus|QAStatusFilter}}</span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">相关人员</label>
                                <div class="col-md-10">
                                    <div class="portlet-body">
                                        <a href="javascript:;" class="icon-btn blue" ng-repeat="checkUser in model.DeployInfoIocDto.NoticeUser">
                                            <div>{{checkUser.NickName}}</div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">备注</label>
                                <div class="col-md-10">
                                    <div class="form-control-wrap">
                                        <textarea disabled ng-model="model.DeployInfoIocDto.TaskDesc"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right" ng-if="IocTestShow">
                                <button type="button" class="btn green"  ng-click="TestPassed(0)"><i class="fa fa-check"></i> 测试通过</button>
                                <button type="button" class="btn red"   ng-click="TestFails(0)"><i class="fa fa-times"></i> 测试不通过</button>
                            </div>
                        </div>
                        <!-- END IOC CONTENT-->
                    </div>
                    <div class="tab-pane fade" ng-class="{'active in':currLogTab==1}" id="tab_1_2" ng-if="model.DeployInfoPreJson!=null">
                        <!-- BEGIN Pre CONTENT-->
                        <div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">部署服务器IP</label>
                                <div class="col-md-10">
                                    <input disabled type="text" ng-model="model.DeployInfoPreDto.DeployIP" class="form-control">
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">部署地址</label>
                                <div class="col-md-10">
                                    <input disabled type="text" ng-model="model.DeployInfoPreDto.DeployAddress" class="form-control">
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">部署域名</label>
                                <div class="col-md-10">
                                    <input disabled type="text" ng-model="model.DeployInfoPreDto.Domain" class="form-control">
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">IIS站点名称</label>
                                <div class="col-md-10">
                                    <input disabled type="text" ng-model="model.DeployInfoPreDto.SiteName" class="form-control">
                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">验收人员</label>
                                <div class="col-md-10">
                                    <div class="portlet-body">
                                        <a href="javascript:;" class="icon-btn blue" ng-repeat="checkUser in model.DeployInfoPreDto.CheckUser">
                                            <div> {{checkUser.NickName}}</div>
                                            <span ng-if="checkUser.QAStatus==0" class="badge badge-default">{{checkUser.QAStatus|QAStatusFilter}}</span>
                                            <span ng-if="checkUser.QAStatus==1" class="badge badge-danger"> {{checkUser.QAStatus|QAStatusFilter}}</span>
                                            <span ng-if="checkUser.QAStatus==2" class="badge badge-success">{{checkUser.QAStatus|QAStatusFilter}}</span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">相关人员</label>
                                <div class="col-md-10">
                                    <div class="portlet-body">
                                        <a href="javascript:;" class="icon-btn blue" ng-repeat="checkUser in model.DeployInfoPreDto.NoticeUser">
                                            <div>{{checkUser.NickName}}</div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">备注</label>
                                <div class="col-md-10">
                                    <div class="form-control-wrap">
                                        <textarea disabled ng-model="model.DeployInfoPreDto.TaskDesc"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right" ng-if="PreTestShow">
                                <button type="button" class="btn green"  ng-click="TestPassed(1)"><i class="fa fa-check"></i> 测试通过</button>
                                <button type="button" class="btn red"   ng-click="TestFails(1)"><i class="fa fa-times"></i> 测试不通过</button>
                            </div>
                        </div>
                        <!-- END Pre CONTENT-->
                    </div>
                    <div class="tab-pane fade" ng-class="{'active in':currLogTab==2}" id="tab_1_3" ng-if="model.DeployInfoOnlineJson!=null&&model.DeployInfoOnlineDto.OnlineTaskId!=null&&model.DeployInfoOnlineDto.OnlineTaskId>0">
                        <!-- BEGIN Online CONTENT-->
                        <div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">部署服务器IP</label>
                                <div class="col-md-10">
                                    <input disabled type="text" ng-model="model.DeployInfoOnlineDto.DeployIP" class="form-control">
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">部署地址</label>
                                <div class="col-md-10">
                                    <input disabled type="text" ng-model="model.DeployInfoOnlineDto.DeployAddress" class="form-control">
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">部署域名</label>
                                <div class="col-md-10">
                                    <input disabled type="text" ng-model="model.DeployInfoOnlineDto.Domain" class="form-control">
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">IIS站点名称</label>
                                <div class="col-md-10">
                                    <input disabled type="text" ng-model="model.DeployInfoOnlineDto.SiteName" class="form-control">
                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">验收人员</label>
                                <div class="col-md-10">
                                    <div class="portlet-body">
                                        <a href="javascript:;" class="icon-btn blue" ng-repeat="checkUser in model.DeployInfoOnlineDto.CheckUser">
                                            <div> {{checkUser.NickName}}</div>
                                            <span ng-if="checkUser.QAStatus==0" class="badge badge-default">{{checkUser.QAStatus|QAStatusFilter}}</span>
                                            <span ng-if="checkUser.QAStatus==1" class="badge badge-danger"> {{checkUser.QAStatus|QAStatusFilter}}</span>
                                            <span ng-if="checkUser.QAStatus==2" class="badge badge-success">{{checkUser.QAStatus|QAStatusFilter}}</span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">相关人员</label>
                                <div class="col-md-10">
                                    <div class="portlet-body">
                                        <a href="javascript:;" class="icon-btn blue" ng-repeat="checkUser in model.DeployInfoOnlineDto.NoticeUser">
                                            <div>{{checkUser.NickName}}</div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">备注</label>
                                <div class="col-md-10">
                                    <div class="form-control-wrap">
                                        <textarea disabled ng-model="model.DeployInfoOnlineDto.TaskDesc"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right" ng-if="OnlineTestShow">
                                <button type="button" class="btn green"  ng-click="TestPassed(2)"><i class="fa fa-check"></i> 测试通过</button>
                                <button type="button" class="btn red"  ng-click="TestFails(2)"><i class="fa fa-times"></i> 测试不通过</button>
                            </div>
                        </div>
                        <!-- END Online CONTENT-->
                    </div>
                </div>
                <!--操作按钮-->
                <div class="form-actions right">
                    <button type="button" class="btn blue" ng-click="Deploy()" ng-if="model.CreatorId==@ViewBag.UserId"><i class="fa fa-building-o"></i> 部署到...</button>
                    <button type="button" class="btn default" ng-click="Cancel()">返回列表</button>
                </div>
                <!--操作按钮-->
            </div>
        </div>
        <!-- 环境tab-->
       
        <!-- 任务记录-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-phone"></i>任务记录
                </div>
            </div>
            <!-- BEGIN Logs CONTENT-->
            <div class="portlet light">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="timeline">
                                <li class="timeline-blue" ng-repeat="item in items">
                                    <div class="timeline-time">
                                        <span class="date">
                                            {{item.CreateDate| date : 'yyyy-MM-dd'}}
                                        </span>
                                        <span class="time">
                                            {{item.CreateDate| date : 'HH:MM:ss'}}
                                        </span>
                                    </div>
                                    <div class="timeline-icon">
                                        <i>{{item.Stage|StageTypeFilter}}</i>
                                    </div>
                                    <div class="timeline-body">
                                        <!--开发-->
                                        <div ng-if="item.LogType==0">
                                            <h2>
                                                <span class="nav-link pull">
                                                   部署 ==> {{(item.DeployStatus|DeployStatusFilter).Title}}
                                                    <a ng-if="item.DeployStatus!=0" class="text-danger" href="javascript:;" ng-click="GotoGitLabBuildPage(item.BuildId)"><i class="m-icon-swapright m-icon-white"></i></a>
                                                </span>
                                            </h2>
                                        </div>
                                        <!--测试-->
                                        <div ng-if="item.LogType==1">
                                            <h2>
                                                <span class="nav-link pull">
                                                    测试 ==> {{item.QAStatus|QAStatusFilter}}
                                                </span>
                                            </h2>
                                        </div>

                                        <!--Comments-->
                                        <div class="timeline-content">
                                            <h4>{{item.Comments}}</h4>
                                        </div>
                                        <div class="timeline-footer">
                                            <span class="nav-link pull-right">
                                                {{item.CreatorName}}
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Logs CONTENT-->
        </div>
        <!-- 任务记录-->
    </div>
</div>
@section Scripts {
    <script src="~/app/services/CommonService.js"></script>
    <script src="~/app/services/ProjectService.js"></script>
    <script src="~/app/services/TaskService.js"></script>
    <script src="~/app/filters/CommonFilter.js"></script>
    <script src="~/app/controllers/TaskDetail.js"></script>
    <script src="~/app/modals/Deploy.js"></script>
    <script src="~/app/modals/TestDailog.js"></script>
    
}

