
@{
    ViewBag.Title = "项目新增";
}
@section Css {

<link href="~/Metronic/assets/global/plugins/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.16.1/select.min.css" rel="stylesheet" />

   
}

<div class="col-md-12">
    <div ng-controller="ProjectController">
        <!-- BEGIN  HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/">主页</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="@Url.Action("Index","Project")">项目管理</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">项目新增</a>

                </li>
            </ul>

        </div>
        <!-- END  HEADER-->
        <!--BEGIN Form -->
        <div>
            <div class="portlet  box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-plus"></i>项目新增
                    </div>
                    <div class="actions">
                       
                    </div>
                </div>
                    <div class="portlet-body form">
                        <div id="bootstrap_alerts_demo"></div>
                        <form role="form" class="form form-horizontal" name="serverForm" novalidate>
                            <div class="form-body">
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">项目名称</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="form_control_1" ng-model="model.ProjectName" placeholder="请输入项目名称" required>
                                        <div class="form-control-focus">
                                        </div>
                                        <span class="help-block">项目名称是必填</span>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">GitLab地址</label>
                                    <div class="col-md-10">
                                        @*<select class="form-control" id="form_control_1" ng-model="model.Project" ng-change="GetProjectInfo(model.Project)" ng-options="project.name for project in ProjectList track by project.id" required>  
                                        </select>*@

                                      

                                        <ui-select ng-model="model.Project" ng-change="GetProjectInfo(model.Project)">
                                            <ui-select-match>
                                                <span ng-bind="$select.selected.name"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in (ProjectList | filter: $select.search) track by item.id">
                                                <span ng-bind="item.name"></span>
                                            </ui-select-choices>
                                        </ui-select>

                                        <div class="form-control-focus">
                                        </div>
                                        <span class="help-block">项目地址是必填</span>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Sln名称</label>
                                    <div class="col-md-10">
                                        <input disabled type="text" class="form-control" id="ProjectSlnName" ng-model="model.ProjectSlnName" placeholder="请点击选择">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn default btn-sm green"    ng-click="showMenu('sln')" ng-disabled="!showSln">
                                            选择
                                        </button>
                                         <div class="form-control-focus">
                                        </div>
                                        <span class="help-block">项目文件是必填</span>
                                    </div>

                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Csproj名称</label>
                                    <div class="col-md-10">
                                        <input disabled type="text" class="form-control" id="ProjectCsprojName" ng-model="model.ProjectCsprojName" placeholder="请点击选择">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn default btn-sm green"  ng-click="showMenu('csproj')"  ng-disabled="!showSln">
                                            选择
                                        </button>
                                        <div class="form-control-focus">
                                        </div>
                                        <span class="help-block">Csproj是必选</span>
                                    </div>

                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">项目描述</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" rows="3" ng-model="model.ProjectDesc"></textarea>
                                        <div class="form-control-focus">
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="form-actions right">
                                <a  class="btn default" href="@Url.Action("Index","Project")">取消</a>
                                <a  class="btn blue" ng-disabled="serverForm.$invalid" ng-click="SubmitFrom(model)"><i class="fa fa-check"></i> 保存</a>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" >
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">请选择</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="menuContent" style="border:1px solid #808080;">
                                                <ul id="treeDemo" class="ztree" style="width: 100%;"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
			        </div>
                </div>
           
            </div>
       
        </div>
        <!--END Form -->
   
    </div>

@section Scripts {
<script src="~/app/controllers/ProjectCreat.js"></script>
<script src="~/app/services/ProjectService.js"></script>
<script src="~/Metronic/assets/global/plugins/zTree/js/jquery.ztree.core-3.5.min.js"></script>


}


