
@{
    ViewBag.Title = "项目编辑";
}
<div class="col-md-12">
    <div ng-controller="ProjectController">
        <!-- BEGIN  HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/">主页</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Project")">项目管理</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">项目编辑</a>
                </li>
            </ul>
        </div>
        <!-- END  HEADER-->
        <!--BEGIN Form -->
        <div>
            <div class="portlet  box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-plus"></i>项目编辑
                    </div>
                    <div class="actions">
                       
                    </div>
                </div>
                <div class="portlet-body form">
                    <div id="bootstrap_alerts_demo"></div>
                    <form role="form" class="form form-horizontal" name="serverForm" novalidate>
                        <div class="form-body">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">项目名称</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="form_control_1" ng-model="model.ProjectName" placeholder="请输入项目名称" required>
                                    <div class="form-control-focus">
                                    </div>
                                    <span class="help-block">项目名称是必填</span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">GitLab地址</label>
                                <div class="col-md-10">
                                    <select disabled class="form-control" id="form_control_1" ng-model="model.Project" ng-change="GetProjectInfo(model.Project)" ng-options="project.name for project in ProjectList track by project.id">
                                    </select>
                                    <div class="form-control-focus">
                                    </div>
                                    <span class="help-block">项目地址是必填</span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Sln名称</label>
                                <div class="col-md-10">
                                    <input disabled type="text" class="form-control" id="form_control_1" ng-model="model.ProjectSlnName" placeholder="选择项目自动带出" required>
                                    <div class="form-control-focus">
                                    </div>
                                    <span class="help-block">项目文件是必填</span>
                                </div>

                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">Csproj名称</label>
                                <div class="col-md-10">
                                    <input disabled type="text" class="form-control" id="ProjectCsprojName" ng-model="model.ProjectCsprojName" placeholder="请点击选择">
                                    <div class="form-control-focus">
                                    </div>
                                    <span class="help-block">Csproj是必选</span>
                                    
                                </div>

                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label" for="form_control_1">项目描述</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" rows="3" ng-model="model.ProjectDesc"></textarea>
                                    <div class="form-control-focus">
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="form-actions right">
                            <a class="btn default" href="@Url.Action("Index","Project")">取消</a>
                            <a class="btn blue" ng-disabled="serverForm.$invalid" ng-click="SubmitFrom(model)"><i class="fa fa-check"></i> 保存</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!--END Form -->
        <input type="hidden" id="id" value="@Html.ViewContext.RouteData.Values["id"]" />
    </div>
</div>
@section Scripts {
<script src="~/app/services/ProjectService.js"></script>
<script src="~/app/controllers/ProjectEdit.js"></script>
}


