
@{
    ViewBag.Title = "任务详细";
}
@section Css {
    <link href="~/Content/TaskDetail.css" rel="stylesheet" />
}
<input type="hidden" id="taskIdParam" value="@ViewBag.TaskId" />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Home")">首页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Task")">我的任务</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">任务详细</a>
        </li>
    </ul>
</div>
<div class="row" ng-controller="TaskController">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-clipboard"></i>任务详细         
                </div>

            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">任务名</label>
                                <label class="control-label detail">{{taskInfo.TaskName}}</label>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">项目</label>
                                <label class="control-label detail">{{taskInfo.Project.ProjectName}}</label>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">分支</label>
                                <label class="control-label detail" >{{taskInfo.Branch}}</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">发布环境</label>
                                <label class="control-label detail" >{{taskInfo.DeployEnvironment}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">部署机器IP</label>
                                <label class="control-label detail">{{taskInfo.DeployIP}}</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">IIS站点名称</label>
                                <label class="control-label detail" >{{taskInfo.SiteName}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">验收人员</label>
                                <div class="form-control-wrap">
                                    <ul class="tags">
                                        <li ng-repeat="item in taskInfo.CheckUsers">
                                            <img ng-src="{{item.avatar_url}}" title="{{item.name}}" alt="{{item.name}}" />
                                           
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">相关人员</label>
                                <div class="form-control-wrap">
                                    <ul class="tags">
                                        <li ng-repeat="item in taskInfo.NoticeUses">
                                            <img ng-src="{{item.avatar_url}}" title="{{item.name}}" alt="{{item.name}}" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">备注</label>
                                <div class="form-control-wrap">
                                    <textarea rows="4" ng-model="taskInfo.TaskDesc" readonly></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-actions right">
                    <button type="button" class="btn blue" ng-click="Edit()"><i class="fa fa-edit"></i> 编辑</button>
                    <button type="button" class="btn default" ng-click="Cancel()">返回列表</button>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
@section Scripts {
    <script src="~/app/services/CommonService.js"></script>
    <script src="~/app/services/ProjectService.js"></script>
    <script src="~/app/services/TaskService.js"></script>
    <script src="~/app/controllers/TaskDetail.js"></script>
}

